.btn {
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 31px 16px 29px;
  border-radius: 29px;
  cursor: pointer;

  span.text-white {
    color: white;
  }

  &-blue {
    background-color: $blue-primary-color;

    &:hover {
      background-color: #71c0d4;
    }

    span.text-blue {
      color: $blue-secondary-color;
      margin-left: 4px;
    }
  }

  &-pink {
    background-color: $pink-primary-color;

    span.text-pink {
      color: $pink-secondary-color;
      margin-left: 4px;
    }

    &:hover {
      background-color: #b18bdd;
    }
  }
}
